body{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color:white;
background-color: black;
}
.heading{
    color: crimson;
    font-style:oblique;
    background-color: aqua;
}