body{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color:white;
background-color: black;
}
.heading{
    color: crimson;
    font-style:oblique;
    background-color: aqua;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    
  }
  /*.row::after {
    content: "";
    clear: both;
    display: table;
   */
  
  *{
    box-sizing: border-box;
  }
  .row{
    display:flex;
   
  }
  table, tr, td,caption{
    border: 2px solid brown;
    border-collapse: collapse;
    
  }